
p {
  text-align: justify;
}

span.edge_coord {
  color: brown;
}

span.arc_coord {
  color: green;
}

span.normal_arc {
  color:darkcyan;
}

span.normal_curve {
  color:blue;
}

/* Source: https://www.w3schools.com/howto/howto_css_notes.asp */
p.note {
  background-color: #d7e8f8;
  border-left: 6px solid #4f85d0;
  margin-bottom: 15px;
  padding: 4px 12px;
}
