p {
  text-align: justify;
}

h1 {
  padding: 5px;
  background-color: #a9caf8;
}

h2 {
  padding: 3px;
  background-color: #e1edfd;
}

span.edge_coord {
  color: brown;
}

span.arc_coord {
  color: green;
}

span.normal_arc {
  color: darkcyan;
}

span.normal_curve {
  color: blue;
}

figcaption {
  text-align: justify;
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Source: https://www.w3schools.com/howto/howto_css_notes.asp */
p.note {
  background-color: #ddf8d7;
  border-left: 6px solid #56d04f;
  margin-bottom: 15px;
  padding: 4px 12px;
}
